﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FileNotFound.aspx.cs" Inherits="Reports_FileNotFound" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style ="text-align :center; vertical-align :middle;">
    <img id="imgt" src ="../Images/images.jpg"  width ="100px" height ="100px" alt =""/>
        <h3><font color="red"><b> File does not exist</b></font></h3>
    </div>
    </form>
</body>
</html>
