﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HomePage.aspx.cs" Inherits="HomePage"
    MasterPageFile="~/MasterPage/CORMaster.master" %>
<asp:Content ID="ContentPage" ContentPlaceHolderID="MainContent" runat="Server">
    <div style="margin-top: 5%;">
        <marquee behavior="alternate" scrollamount="1"><asp:Label ID="lblMessage" runat ="server" Visible ="true" ></asp:Label> </marquee>
    </div>
    <div align="center" style="margin-top: 50px;">
        <font size="10" style="font-family: cursive, sans-serif; color: Red"><b>Booking</b>
    </div>
</asp:Content>
