﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="Registration_test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="lblMesaage" runat ="server" ></asp:Label>
    </div>
        <asp:TextBox ID="ClientID" runat="server"></asp:TextBox> &nbsp;&nbsp;&nbsp;&nbsp;
        <asp:Button ID="btnencrypt" Text="Encrypt" runat="server" OnClick="btnencrypt_Click" />

    </form>
</body>
</html>
