﻿body{margin:0px;padding:0px;}
table.heading tr:first-child td{
line-height:30px;
height:30px;
font-size:12px;
}
#MainContent_udpCreateBooking{
margin-top:5px;
}
table.booking_cor{
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-o-border-radius:5px;
}
table.booking_cor tr td.bookings_h{
background:#ffd82a;
color:#585858;
font-size:16px !important;
}
.w_49{width:49%;}
.f_l{float:left;}
.mr_2{margin-right:2%;}
table.booking_cor {
border-collapse:collapse;
}
table.booking_cor tr td:first-child{font-size:13px;}
table.booking_cor, 
table.booking_cor td {
border:1px solid #707070;
color:#fff;
background:#454545;
}

table.booking_cor td {padding:5px;}
table.booking_cor tr:nth-child(even) {
background-color: #f1f1f1f;
}
table.booking_cor tr:nth-child(odd) {
background-color: #ffffff;
}

input[type="checkbox"]
{
width:auto;
}
input[type="radio"]
{
width:auto;
}

input[type="submit"],
input[type="reset"],
input[type="button"]{
width:100px;
font-weight:bold;
background-color:#ffd82a;
color:#000000;
cursor:pointer;
border:none;
}
input[type="submit"]:hover,
input[type="reset"]:hover{
background:#000;
color:#fff;
border:none;
}
input,select,
textarea{
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
font-size:14px;
}
input,select{
width:100%;
padding:5px 5px;
font-size: 14px;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea{
width:100%;
resize:none;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input:focus,
select:focus,
textarea:focus {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/**************** Left Panel **************/
ul.left_pannel{
list-style:none;
margin:5px 0 0 0;
padding:0px;
width:95%;
}
ul.left_pannel li{
margin:0px;
padding:0px;
}
ul.left_pannel li{
background:#f7f7f7;
color:#5c5c5c;
line-height:25px;
height:25px;
padding-left:10%;
width:90%;
display:inline-block;
border-bottom:1px solid #CFCFCF;
font-size:14px;
}
ul.left_pannel li a:hover{
text-decoration:none;
}
ul.left_pannel li.active,
ul.left_pannel li:hover
{
background:#FFD82A;
color:#585858;
font-weight:bold;
}