﻿body
{
    background: url("../Images/bg.jpg") repeat;
}
.borderB
{
    border-bottom: 2px solid #DFB500;
}
.navBC
{
    background: #ffd82a;
}
table tr td #CP_Menu_menu
{
    border: none;
}
table tr td #CP_Menu_menu ul li a
{
    line-height: 30px;
    color: #705C00;
    font-size: 8.5pt;
}
table tr td #CP_Menu_menu a.static.highlighted
{
    background: #665300 !important;
}
#CP_Menu_menu a.static 
{
    background: #665300 !important;
    color: #fff;
}
table tr td #CP_Menu_menu a.popout
{
    padding: 0 50px;
}
table tr td #CP_Menu_menu ul.dynamic
{
    margin-left: 0px;
    background: #ffd82a;
}
table tr td #CP_Menu_menu ul.dynamic li
{
    border-bottom: 1px solid #dfb500;
}
table tr td #CP_Menu_menu a.dynamic
{
    padding: 0px 0 0 1%;
    width: 99%;
}

table tr td #CP_Menu_menu ul ul, table tr td #CP_Menu_menu ul ul li, table tr td #CP_Menu_menu ul ul li a
{
    min-width: 200px;
    padding: 0px;
    margin: 0px;
}
table tr td #CP_ContentPage_lblMessage
{
    font-size: 11pt;
    font-weight: bold;
}
table tr td.logout a
{
    color: #705C00;
    font-size: 9pt;
    font-weight: bold;
}
table tr td.logout a:hover
{
    color: #9c8107;
    text-decoration: none;
}
table.pickupDT
{
    background: #FFFAE8;
    border: 1px solid #D6D6D6;
}
table.pickupDT tr td
{
    padding: 10px;
}
table tr td.invoiceS
{
    background: #FFF6CD;
    border-bottom: 1px solid #D6D6D6;
}
input[type=submit]
{
    border: none;
    background-color: #ffd82a;
    color: #000;
    font-size: 100%;
    padding: .6em 1em;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #CFC500;
    font-weight: bold;
}

input[type=reset]
{
    border: none;
    background-color: #ffd82a;
    color: #000;
    font-size: 100%;
    padding: .6em 1em;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #CFC500;
    font-weight: bold;
}
.w74
{
    width: 74%;
}
input[type="radio"]
{
    float: left;
}
input[type=submit]:hover, input[type=submit]:focus
{
    background-color: #000000;
    color: #fff;
    border: 1px solid #CFC500;
    outline: none;
}
table tr td b.heading
{
    font-size: 9pt;
}
input[type=text], input[type=password], select
{
    /*width: 100%; padding: .5em .6em; margin-bottom: 10px;*/
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus
{
    outline: 0;
    outline: thin dotted \9;
    border-color: #129FEA;
}
table#CP_ContentPage_CalendarExtenderFrom_daysTable tr td, table#CP_ContentPage_CalendarExtenderTo_daysTable tr td
{
    padding: 0px;
}
table tr td #CP_Menu_menu
{
    text-align: left;
}
table #CP_ContentPage_CalendarExtenderFrom_monthsBody tr td, table #CP_ContentPage_CalendarExtenderTo_monthsBody tr td
{
    padding: 0px;
}

.ImgCenter
{
    width: 1027px;
    height: 100%;
    min-height: 482px;
    background: url("../Images/santro.png") no-repeat;
    opacity: 0.2;
    filter: alpha(opacity=20);
    margin: 0 auto;
    position: relative;
    left: -50%;
}
.ImagePosition
{
    position: fixed;
    left: 50%;
    top: 10%;
}

.VeryPoor
{
    background-color: red;
}
.Weak
{
    background-color: orange;
}
.Average
{
    background-color: #A52A2A;
}
.Excellent
{
    background-color: yellow;
}
.Strong
{
    background-color: green;
}
.border, 
.Strong, 
.Excellent, 
.Average, 
.Weak, 
.VeryPoor{
	height:15px !important;
}
.border
{
    border: medium solid #800000;
    width: 150px;
}
#CP_ContentPage_rfvNewPassword{
width:100%;
line-height:11px;
}
