BODY
{
    scrollbar-face-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #ffffff;
    scrollbar-3dlight-color: #cccccc;
    scrollbar-arrow-color: #cccccc;
    scrollbar-track-color: #ffffff;
    scrollbar-darkshadow-color: #cccccc;
}
TABLE
{
    font-size: 10px;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	border-spacing:0px;
    margin-top: 0px;
}
.homeHead
{
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.redHead
{
    font-weight: bold;
    font-size: 18px;
    color: #ff3300;
    font-family: Arial, Helvetica, sans-serif;
}
.subHead
{
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.subRedHead
{
    font-weight: bold;
    font-size: 12px;
    color: #cc0000;
    font-family: Arial, Helvetica, sans-serif;
}
INPUT
{
    font-size: 10px;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
A:link
{
    color: #aa0000;
    text-decoration: none;
}
A:visited
{
    color: #aa0000;
    text-decoration: none;
}
A:hover
{
    color: #aa0000;
    text-decoration: underline;
}
A:active
{
    color: #aa0000;
    text-decoration: none;
}
.whiteCopy
{
    color: #ffffff;
}
.redCopy
{
    color: #cc0000;
}
.orngCopy
{
    color: #ff3300;
}
.blueCopy
{
    font-size: 10px;
    color: #336699;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.secondHead
{
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
A.copyright:visited
{
    color: #ffffff;
    text-decoration: none;
}
A.copyright:link
{
    color: #ffffff;
    text-decoration: none;
}
A.copyright:hover
{
    color: #ffffff;
    text-decoration: underline;
}
A.copyright:active
{
    color: #ffffff;
    text-decoration: none;
}
A.nav:visited
{
    color: #336699;
    line-height: normal;
    text-decoration: none;
}
A.nav:link
{
    color: #336699;
    text-decoration: none;
}
A.nav:hover
{
    color: #336699;
    text-decoration: underline;
}
A.nav:active
{
    color: #336699;
    text-decoration: none;
}
.homeCopy
{
    font-size: 10px;
    color: #ffffff;
    line-height: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.mainCopy
{
    font-size: 10px;
    color: #000000;
    line-height: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
MENU
{
    font-size: 10px;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.rightLeftIndent
{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
A.right:visited
{
    color: #ffffff;
    text-decoration: underline;
}
A.right:link
{
    color: #ffffff;
    text-decoration: underline;
}
A.right:hover
{
    color: #ffffff;
    text-decoration: underline;
}
A.right:active
{
    color: #ffffff;
    text-decoration: underline;
}
.caption
{
    padding-right: 5px;
    padding-left: 5px;
    color: #ffffff;
    line-height: normal;
}
.orangeCopy
{
    color: #ff6e02;
}
.Grt4
{
    color: #ffffff;
    background-color: #008000;
}
.Grt2Less4
{
    color: #ffffff;
    background-color: #0000FF;
}
.Less2
{
    color: #ffffff;
    background-color: #FF0000;
}
.VIP
{
    color: #553FAA;
    background-color: #FFFFAA;
}

.modalBackground
{
    background-color: gray;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.style1
{
    font-family: Tahoma, "Microsoft Sans Serif";
    font-weight: bold;
    font-size: 8pt;
}
.style2
{
    font-family: Tahoma, "Microsoft Sans Serif";
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}
.style3
{
    font-family: Tahoma, "Microsoft Sans Serif";
    font-weight: bold;
    font-size: 8pt;
}

.style5
{
    font-family: Tahoma, "Microsoft Sans Serif";
    padding-left: 3px;
    padding-right: 3px;
}
.style6
{
    font-size: 12px;
    font-weight: bold;
    font-family: Tahoma, "Microsoft Sans Serif";
    padding-left: 3px;
    padding-right: 3px;
}

.txthide
{
    display: none;
}
.txtShow
{
    display: block;
}
#CP_ContentPage_RadioButtonList3
{
    padding-left: 100;
    white-space: nowrap;
}

#tooltip
{
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: #C2E0FF;
    padding: 5px;
    opacity: 0.85;
}
#tooltip h3, #tooltip div
{
    margin: 0;
}

.ImagePosition
{
    position: fixed;
    left: 50%;
    top: 10%;
}

.VeryPoor
{
    background-color: red;
}
.Weak
{
    background-color: orange;
}
.Average
{
    background-color: #A52A2A;
}
.Excellent
{
    background-color: yellow;
}
.Strong
{
    background-color: green;
}
.border, 
.Strong, 
.Excellent, 
.Average, 
.Weak, 
.VeryPoor{
	height:15px !important;
}
.border
{
    border: medium solid #800000;
    width: 150px;
}
#CP_ContentPage_rfvNewPassword{
width:100%;
line-height:11px;
}

 .modal
        {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
        }
        .center
        {
            z-index: 1000;
            margin: 300px auto;
            padding: 10px;
            width: 130px;
            background-color: White;
            border-radius: 10px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;
        }
        .center img
        {
            height: 128px;
            width: 128px;
        }