﻿body{
background:url("../Images/bg.jpg") repeat;
font-family:Verdana,Geneva,Kalimati,sans-serif;
font-size:8.5pt;
}
.padding5{
padding:5%;
}
.pl5{
padding-left:15px;
}
input{
line-height:25px;
height:25px;
width:130px;
padding:4px 12px;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;
-o-border-radius:8px;
border:5px solid #737373;
outline:none;
}
input:focus{
outline:none;
}

input[type="checkbox"]
{
border:none;
outline:none;
width:auto;
}

input[type="radio"]{
border:none;
outline:none;
width:auto;
float:left;
}
.lh{
line-height:29px;
}
table tr td a{
color:#fff;
text-decoration:none;
}
input[type="button"]{
height:30px;
line-height:15px;
background-color:#df8218;
color:#ffdbb0;
border:none;
outline:none;
width:auto;
cursor:pointer;
font-size:9pt;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;
-o-border-radius:5px;
}
.login_area{
background-color:#454545;
margin:0 auto;
width:396px;
min-height:196px;
position: absolute;
top: 50%; 
left: 50%;
margin-left: -198px; /* (width + padding)/2 */
margin-top: -98px; /* (height + padding)/2 */
color:#fff;
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-khtml-border-radius:10px;
-o-border-radius:10px;
box-shadow:0px 3px 6px #888888;
-webkit-box-shadow:0px 3px 6px #888888;
-moz-box-shadow:0px 3px 6px #888888;
-khtml-box-shadow:0px 3px 6px #888888;
-o-box-shadow:0px 3px 6px #888888;
}
.top_heading{
background:#ffd82a;
color:#1f1400;
line-height:41px;
padding-left:7%;
font-size:11pt;
border-bottom:1px solid #c6a61b;
border-top-left-radius:7px;
border-top-right-radius:7px;
-moz-border-top-left-radius:7px;
-moz-border-top-right-radius:7px;
-khtml-border-top-left-radius:7px;
-khtml-border-top-right-radius:7px;
-webkit-border-top-left-radius:7px;
-webkit-border-top-right-radius:7px;
-o-border-top-left-radius:7px;
-o-border-top-right-radius:7px;
}